<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.algorithmsproject" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AlgorithmProjectMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inss.InssProject"
            android:label="@string/title_activity_inss_project" >
        </activity>
        <activity
            android:name=".inss.InssSolucaoActivity"
            android:label="@string/title_activity_inss_solucao" >
        </activity>
        <activity
            android:name=".pensao.PensaoActivity"
            android:label="@string/title_activity_pensao" >
        </activity>
        <activity
            android:name=".pensao.PensaoSolucaoActivity"
            android:label="@string/title_activity_pensao_solucao" >
        </activity>
        <activity
            android:name=".inteiro.NumeroInteiro"
            android:label="@string/title_activity_numero_inteiro" >
        </activity>
        <activity
            android:name=".inteiro.NumeroInteiroSolucao"
            android:label="@string/title_activity_numero_inteiro_solucao" >
        </activity>
        <activity
            android:name=".readNumber.ReadNumberActivity"
            android:label="@string/title_activity_read_number" >
        </activity>
        <activity
            android:name=".temperature.TemperatureActivity"
            android:label="@string/title_activity_temperature" >
        </activity>
        <activity
            android:name=".personalinfos.PersonalInfosActivity"
            android:label="@string/title_activity_personal_infos" >
        </activity>
        <activity
            android:name=".triangle.TriangleActivity"
            android:label="@string/title_activity_triangle" >
        </activity>
        <activity
            android:name=".preco.PrecoActivity"
            android:label="@string/title_activity_preco" >
        </activity>
    </application>

</manifest>
